
.vs/Database-Milestone-2/FileContentIndex/d28e2024-5406-4feb-bd40-38d647034a4b.vsidx
.vs/Database-Milestone-2/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Database-Milestone-2/FileContentIndex/2cb53338-cd04-412c-bf01-892264f56ab0.vsidx
